# Project
venv/
tools/deep-filter/deep-filter
tools/deep-filter/deep-filter.exe

.env
temp/
output/
input/*.mp4
input/*.mov
input/*.mkv
input/*.avi
input/*.webm
__pycache__/
*.pyc
*.pyo
.DS_Store

# Python
*.py[cod]
*$py.class
.venv
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
